body {
  background-color: #ddd;
}

#box1 {
  color: red;
  background-color: blue;
  width: 100px;
}
#box2 {
  color: yellow;
  background-color: blue;
  width: 100px;
}
#box3 {
  color: red;
  background-color: blue;
  width: 100px;
}
#box4 {
  color: yellowgreen;
  background-color: blue;
  width: 300px;
}
#box5 {
  color: red;
  background-color: blue;
  width: 300px;
}