/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
  line-height: 1.5em;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

a {
  color: #222;
  text-decoration: none;
}

.dropdown-container {
  display: flex;
  top: 30%;
  position: relative;
}

.dropdown {
  border: 1px solid red;
  width: 180px;
  margin: 3px;
  position: relative;
}

.dropdown-btn {
  font-size: 1.1rem;
  width: inherit;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(94, 205, 50);
  color: hsl(0, 0%, 100%);
}
.dropdown-submenu {
  display: none;
  position: absolute;
}

.dropdown-submenu a {
  display: inline-block;
  width: 80px;
  padding: 5px;
  text-align: center;
  font-size: 0.9rem;
}

.dropdown-submenu a:hover {
  background-color: rgb(226, 225, 224);
}

.dropdown:nth-child(1):hover .dropdown-submenu, 
.dropdown:nth-child(2):hover .dropdown-submenu {
  display: flex;
  width: 740px;
}

.dropdown:nth-child(3):hover .dropdown-submenu, 
.dropdown:nth-child(4):hover .dropdown-submenu {
  display: flex;
  flex-direction: row-reverse;
  width: 740px;
}

.dropdown:nth-child(3) .dropdown-submenu {
  transform: translateX(-560px);
}

.dropdown:nth-child(3) .dropdown-submenu a {
  float: right;
}

.dropdown:nth-child(4) .dropdown-submenu {
  transform: translateX(-560px);
}
