/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {}

/* Button */
input[id=trigger] {
  display: none;
}

label[for=trigger] {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

label[for=trigger] span {
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  transition: 0.3s;
}

label[for=trigger] span:nth-child(1) {
  top: 0;
}
label[for=trigger] span:nth-child(2) {
  top: 50%;
}
label[for=trigger] span:nth-child(3) {
  top: 100%;
}

input[id=trigger]:checked + label[for=trigger] span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

input[id=trigger]:checked + label[for=trigger] span:nth-child(2) {
  opacity: 0;
}

input[id=trigger]:checked + label[for=trigger] span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: black;
  position: fixed;
  left: -250px;
  transition: 0.3s;
}

input[id=trigger]:checked ~ .sidebar {
  left: 0;
}

input[id=trigger]:checked + label[for=trigger] {
  left: 260px;
}
