/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

/* 기본 골격 및 스타일 */
.tab-container {
  height: 100vh;
  position: relative;
}

input[name=tab] {
  display: none;
}

.contents-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.contents-inner {
  position: absolute;
  width: 400%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.contents-inner section {
  float: left;
  width: 25%;
  height: 100vh;
  position: relative;
  text-align: center;
}

.contents-inner section:nth-child(1) {
  background-color: rgb(252, 163, 130);
}
.contents-inner section:nth-child(2) {
  background-color: rgb(255, 218, 56);
}
.contents-inner section:nth-child(3) {
  background-color: rgb(125, 168, 248);
}
.contents-inner section:nth-child(4) {
  background-color: rgb(80, 255, 255);
}

.contents-inner section::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.contents-inner section h1 {
  font-size: 4rem;
  position: relative;
  text-align: center;
  opacity: 0;
  transform: translateY(-100px);
  transition: 0.5s;
  transition-delay: 0.5s;
  margin: 40px;
}

.btn {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.btn label {
  display: inline-block;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  margin: 6px 12px;
  font-size: 1.05rem;
}

input[id=tab1]:checked ~ .contents-container .contents-inner {
  left: 0;
}
input[id=tab2]:checked ~ .contents-container .contents-inner {
  left: -100%;
}
input[id=tab3]:checked ~ .contents-container .contents-inner {
  left: -200%;
}
input[id=tab4]:checked ~ .contents-container .contents-inner {
  left: -300%;
}

input[id=tab1]:hover ~.btn label[for=tab1], 
input[id=tab2]:hover ~.btn label[for=tab2], 
input[id=tab3]:hover ~.btn label[for=tab3], 
input[id=tab4]:hover ~.btn label[for=tab4] {
  color: gold;
}

input[id=tab1]:checked ~.btn label[for=tab1], 
input[id=tab2]:checked ~.btn label[for=tab2], 
input[id=tab3]:checked ~.btn label[for=tab3], input[id=tab4]:checked ~.btn label[for=tab4] {
  color: gold;
}

input[id=tab1]:checked ~ .contents-container .contents-inner section:nth-child(1) h1, 
input[id=tab2]:checked ~ .contents-container .contents-inner section:nth-child(2) h1, 
input[id=tab3]:checked ~ .contents-container .contents-inner section:nth-child(3) h1,
input[id=tab4]:checked ~ .contents-container .contents-inner section:nth-child(4) h1 {
  opacity: 1;
  transform: translateY(20px);
}

/* 프로젝트 영역 */
