/* Google Web Font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

* {
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
}

/* 기본 골격 및 스타일 */
.tab-container {
  height: 100vh;
  position: relative;
}

input[name=tab] {
  display: none;
}

.contents-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.contents-inner {
  position: absolute;
  width: 400%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.contents-inner section {
  float: left;
  width: 25%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contents-inner section:nth-child(1) {
  background-color: rgb(252, 163, 130);
}
.contents-inner section:nth-child(2) {
  background-color: rgb(255, 218, 56);
}
.contents-inner section:nth-child(3) {
  background-color: rgb(125, 168, 248);
}
.contents-inner section:nth-child(4) {
  background-color: rgb(80, 255, 255);
}

.contents-inner section h1 {
  font-size: 3.5rem;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.btn {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.btn label {
  display: inline-block;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  margin: 6px 12px;
  font-size: 1rem;
}

input[id=tab1]:checked ~ .contents-container .contents-inner {
  left: 0;
}
input[id=tab2]:checked ~ .contents-container .contents-inner {
  left: -100%;
}
input[id=tab3]:checked ~ .contents-container .contents-inner {
  left: -200%;
}
input[id=tab4]:checked ~ .contents-container .contents-inner {
  left: -300%;
}

input[id=tab1]:hover ~.btn label[for=tab1], 
input[id=tab2]:hover ~.btn label[for=tab2], 
input[id=tab3]:hover ~.btn label[for=tab3], 
input[id=tab4]:hover ~.btn label[for=tab4] {
  color: gold;
}

input[id=tab1]:checked ~.btn label[for=tab1], 
input[id=tab2]:checked ~.btn label[for=tab2], 
input[id=tab3]:checked ~.btn label[for=tab3], input[id=tab4]:checked ~.btn label[for=tab4] {
  color: gold;
}

input[id=tab1]:checked ~ .contents-container .contents-inner section:nth-child(1) h1, 
input[id=tab2]:checked ~ .contents-container .contents-inner section:nth-child(2) h1, 
input[id=tab3]:checked ~ .contents-container .contents-inner section:nth-child(3) h1,
input[id=tab4]:checked ~ .contents-container .contents-inner section:nth-child(4) h1 {
  opacity: 1;
  transform: translateY(10px);
}

/* 프로젝트 영역 */
.projects__categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.projects__category {
  color: black;
  padding: 6px;
  border-radius: 3px;
  flex-basis: 12%;
  cursor: pointer;
  font-size: 1.05rem;
  position: relative;
  transition: 0.3s;
}

.projects__category.checked, 
.projects__category:hover {
  background-color: rgb(74, 125, 219);
  color: #f2f2f2;
}

.projects__cnt {
  display: inline-block;
  background-color: rgb(21, 78, 184);
  color: #f2f2f2;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: 0.3s;
  transform: translateY(-5px);
}

.projects__category.checked .projects__cnt, 
.projects__category:hover .projects__cnt {
  opacity: 1;
  transform: translateY(0);
}

.projects__container {
  width: 80%;
  margin: 25px auto 80px auto;
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  position: relative;
  flex-basis: 24%;
  padding: 20px;
  background-color: rgba(222, 224, 230, 0.384);
  margin: 5px;
  height: 180px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.81);
  color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.6s ease;
  text-align: center;
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(0);
}

.project__description h3 {
  font-size: 1.2rem;
  color: rgba(255, 226, 60, 0.986);
  margin: 0;
  transform: translateY(6px);
  font-weight: normal;
}

.project__description p {
  margin: 0;
  transform: translateY(20px);
}

.project__line {
  width: 52%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(211, 211, 211, 0.884);
}