/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
}

.square {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 30px;
}

.square span {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid #fff;
  border-radius: 45% 60% 65% 45% / 60% 60% 45% 40%;
  transition: 0.3s;
}

.square:nth-child(1):hover span {
  border: none;
  background-color: crimson;
}

.square:nth-child(2):hover span {
  border: none;
  background-color: dodgerblue;
}

.square:nth-child(3):hover span {
  border: none;
  background-color: yellowgreen;
}

.square span:nth-child(1) {
  animation: circle 6s linear infinite;
}
.square span:nth-child(2) {
  animation: circle 4s linear infinite;
  animation-direction: reverse;
}
.square span:nth-child(3) {
  animation: circle 10s linear infinite;
}

.square:hover span:nth-child(1) {
  opacity: 0.2;
}
.square:hover span:nth-child(2) {
  opacity: 0.4;
}
.square:hover span:nth-child(3) {
  opacity: 0.7;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.square div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.square div a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 45% 60% 65% 45% / 60% 60% 45% 40%;
  padding: 9px;
}