/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
  height: 100vh;
}

a {
  color: #222;
  text-decoration: none;
}

.icons {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 125px;
  height: 125px;
  margin: 10px;
  position: relative;
}

.icon span {
  position: absolute;
  background-color: #000;
  color: #fff;
  width: 300px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  text-align: center;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.icon span:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 5px) rotate(45deg);
}

.icon:hover span {
  opacity: 1;
}