html, body {
    width: 100%;
    height: 100%;
}
.overLay {
    width: 100%;
    height: 100%;
    background: url("../images/16.png");
    position: absolute;
    top: 0%;
    z-index: 10;
}
.bx-wrapper, .bx-viewport, .slider {
    width: 100%;
    height: 100%;
}
.background_01 {
    width: 100%;
    height: 100%;
    background: url("../images/a.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.background_02 {
    width: 100%;
    height: 100%;
    background: url("../images/b.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.background_03 {
    width: 100%;
    height: 100%;
    background: url("../images/c.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.contents {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -108px;
    margin-left: -232px;
    z-index: 20;
    text-align: center;
    font-family: "맑은고딕","Malgun Gothic", sans-serif;
}
.contents_name {
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}
.contents_job {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}
.contents_SNS {
    font-size: 0;
}
.contents_SNS>ul>li{
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    line-height: 52px;
    font-size: 27px;
    margin-right: 20px;
}
.contents_SNS>ul>li:last-child{
    margin-right: 0px;
}
.contents_SNS>ul>li>a {
    color: white;
}