@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  height: 100vh;
  background-color: lightgrey;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-size: 16px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  max-width: 531px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.card__user {
  float: left;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  margin-right: 20px;
}

.card__content {
  float: left;
}

.card__content h1 {
  color: #1F2D3D;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 4px;
}

.card__content span {
  color: #AFB3B9;
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
}

.card__content p {
  line-height: 24px;
  color: #79818B;
}