* {
  box-sizing: border-box;
}

h1, h3, p {
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  background-color: aliceblue;
  color: #151B26;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  letter-spacing: 0em;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.card {
  background-color: #ffffff;
  width: 840px;
  max-width: 840px;
  display: flex;
  padding: 24px;
}

.card__photo {
  flex-basis: 300px;
  height: 200px;
  background: url(../assets/background/img-house.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 24px;
  border-radius: 6px;
  position: relative;
}

.card__favorite-btn {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 12px;
  top: 12px;
  border-radius: 50%;
  background: url(../assets/background/icon-favorite.svg) no-repeat center center;
  background-color: #ffffff;
  background-size: 24px 24px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.card__info {
  /* background-color: aquamarine; */
  flex-grow: 1;
  margin: 0;
}

.card__info > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__tag {
  display: flex;
  align-items: center;
}

.card__tag > strong {
  width: 48px;
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  background: #92174D;
  margin-right: 8px;
  line-height: 22px;
  text-transform: uppercase;
}

.card__tag > h3 {
  font-size: 16px;
  font-weight: 400;
  color: #7D858F;
}

.card__review-score {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.card__review-score > strong::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../assets/background/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 3px;
  position: relative;
  top: 2px;
}

.card__review-score > strong {
  font-weight: 400;
}

.card__review-score > strong > span {
  color: #7D858F;
}

.card__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 8px;
}

.sr-only {
  position: absolute;
  z-index: ;
  opacity: 0;
}

.card__facility {
  font-size: 15px;
  color: #7D858F;
  margin-top: 16px;
}