/* 구글 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 태그 스타일 초기화 */
a {
  text-decoration: none;
  color: #f2f4f0;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
h1 {
  margin: 0;
}
img {
  padding: 0;
}

/* 헤더 영역 */
header {
  color: #f2f4f0;
  height: 100%;
  background: url(./Image/9.png) no-repeat center center;
  background-size: cover;
  position: relative;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 48px;
  position: relative;
}

.nav__logo {
  font-size: 1.1rem;
}

.nav__menu {
  position: relative;
  display: flex;
  z-index: 1;
}
.nav__menu ul {
  display: flex;
  align-items: center;
}
.nav__menu li {
  margin-right: 40px;
}
.nav__menu a {
  font-size: 1.1rem;
  color: #f2f4f0;
}
.nav__menu a:hover {
  text-decoration-line: underline;
}

.nav__btn__lang {
  background-color: rgba(128, 128, 128, 0.616);
  padding: 6px 14px;
  border-radius: 6px;
  display: flex;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.nav__btn__lang i {
  font-size: 1.4rem;
  color: #f2f4f0;
}

.btn__lang__flags {
  width: 100px;
  position: absolute;
  top: 46px;
  left: -8px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s;
}

.btn__lang__flags a {
  background-color: #f2f4f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__lang__flags a:hover {
  background-color: #f2f4f0dc;
}

.btn__lang__flags img {
  padding: 10px 24px;
  object-fit: contain;
}

.header__text {
  /* border: 1px solid red; */
  position: absolute;
  width: 80%;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}

.header__text h1 {
  font-size: 3.2rem;
  margin-bottom: 14px;
}
.header__text p {
  font-size: 1.4rem;
}

.show {
  opacity: 1;
}

i.hamburger {
  position: absolute;
  font-size: 1.3rem;
  right: 44px;
  top: 28px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

/* 미디어 쿼리 */
@media screen and (max-width: 800px) {
  i.hamburger {
    display: block;
  }
  .nav__menu {
    display: none;
    flex-direction: column;
    background-color: #f2f4f0;
    padding: 2px 10px;
    position: absolute;
    right: 20px;
    top: 55px;
  }
  .nav__menu ul {
    text-align: center;
    flex-direction: column;
  }
  .nav__menu ul li {
    width: 100%;
    margin-right: 0;
    margin-top: 3px;
    text-align: left;
  }
  .nav__menu > ul a {
    padding-top: 4px;
    font-size: 0.9rem;
    color:#222;
  }
  .nav__btn__lang {
    background-color: #f2f4f0;
    padding-left: 2px;
    box-sizing: border-box;
  }
  .nav__btn__lang i {
    color:#222;
    box-sizing: border-box;
  }
  ul.btn__lang__flags li {
    margin-top: 0;
  }
  .show {
    display: flex;
  }
}