/* 사용자 지정 css 속성 */
:root {
  --nav-bg-color: rgb(40, 78, 150);
  --nav-text-color: #f0f4f5;
  --nav-accent-color: rgb(243, 158, 0);
}

body {
  margin: 0;
}

/* 태그 초기화 */
a {
  text-decoration: none;
  color: #222;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 헤더 영역 */
.nav__container {
  display: flex;
  justify-content: space-between;
  background-color: var(--nav-bg-color);
  padding: 20px 20px;
  position: relative;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo i {
  color: var(--nav-accent-color);
  font-size: 1.4rem;
  margin-right: 8px;
}

.nav__logo a {
  color: var(--nav-text-color);
  font-size: 1.2rem;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__menu li {
}

.nav__menu li a {
  padding: 21px 28px;
  color: var(--nav-text-color);
  font-size: 1.1rem;
  vertical-align: middle;
}
.nav__menu li a:hover {
  background-color: var(--nav-accent-color);
  border-radius: 4px;
}

.nav__sns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__sns i {
  font-size: 1.2rem;
  color: var(--nav-text-color); 
}
.nav__sns li:nth-child(1) i {
  margin-right: 14px;
}

.nav__toggle__btn {
  position: absolute;
  top: 20px;
  right: 28px;
  font-size: 1.2rem;
  color: var(--nav-accent-color);
  cursor: pointer;
  display: none;
}

/* 미디어 쿼리 */
@media screen and (max-width: 680px) {
  .nav__container {
    flex-direction: column;
    padding-bottom: 16px;
  }

  .nav__menu {
    display: none;
    flex-direction: column;
    margin-top: 8px;
  }

  .nav__menu li {
    width: 100%;
  }

  .nav__menu li a {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav__sns {
    display: none;
    justify-content: center;
    margin-top: 8px;
  }

  .nav__toggle__btn {
    display: block;
  }

  .show {
    display: flex;
  }
}